<!-- theory -->
<!-- markup parses faster than the script, so Jquery is not defined by the time this deriviative is running -->
<!-- datatable -->
<!-- strategy is to avoid using the datatable directive and rely on jquery. potentially avoid this issue by not working in the app.component.ts -->

<h1>STATIC EXAMPLE OF JQUERY DATATABLES</h1>

<table  class="row-border hover" id="myTable">
  <thead>
    <tr>
      <th>Field  1</th>
      <th>Field  2</th>
      <th>Field  3</th>
      <th>Field  4</th>
    </tr>
  </thead>
  <tbody></tbody>

</table>


<h1>DYNAMIC EXAMPLE OF JQUERY DATATABLES</h1>
<div id="dynamicTableContainer">

</div>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>